.header .profile-img img {
  margin: 15px auto;
  display: block;
  width: 100px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  color: var(--secondary-surface);
}

.header .logo span {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
  color: var(--secondary-surface);
}

.header .bi {
  color: var(--secondary-surface);
}

.header .logo:hover h1,
.header .logo:hover span {
  color: var(--secondary-surface);
}

.profile-img {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  max-height: 150px; // Ajustez selon la taille réelle de votre image
  overflow: hidden;
  width: 100px;
}

#header .btn.btn-primary p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header .logo h1 {
    font-size: 1.2rem;
  }
  .header .logo span {
    font-size: 1rem;
  }
  #header .btn {
    display: none;
  }
}
