.wrapper-logo {
  padding-inline-start: var(--spacer);
  .wrapper-site-title {
    background-image: url(../../images/logo.jpg);
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
    width: 100%;
  }
}

.dark-theme {
  .wrapper-logo {
    .wrapper-site-title {
      width: 100%;
    }
  }
}

.svg-logo {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
  background-image: url("../../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 50%;
  padding: 0.2em;
}
