@media (width >= 768px) {
  .navmenu-desktop {
    & > ul {
      display: flex;
      margin: auto;
      width: fit-content;
      li {
        padding-inline: var(--spacer);
        padding-block: var(--spacer-big);
      }
    }
  }
}

@media (width <= 768px) {
  .navmenu-desktop {
    display: none;
  }
}
