/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.dark-background a:hover,
.dark-background a:hover i {
  color: var(--link-hover);
}

.navmenu {
  padding: 0;
  z-index: 9997;
}

.navmenu ul {
  list-style: none;
  margin: 0;
  li {
    position: relative;
  }
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 15px 10px;
  font-family: var(--nav-font);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
  letter-spacing: 0;
  word-spacing: 0;
}

@media (width < 992px) {
  .navmenu a {
    padding-top: 0px;
  }
}

.navmenu .active a,
.navmenu .active:focus a {
  color: var(--secondary-surface);
}

.navmenu li:not(.active) > a:hover {
  color: var(--nav-color);
}

.navmenu a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  background: var(--accent-color);
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  transition: width 0.5s ease-in-out;
}

.navmenu li:not(.active) > a:hover:after {
  width: 100%;
}

// Home page: background dark under the navbar

body.home {
  background: linear-gradient(
    to bottom,
    var(--heading-color) 0,
    var(--accent-color) 200px,
    var(--background-color) 150px,
    var(--background-color) 100%
  );
}
