@use "../../variables" as *;
@use "../../animations" as *;

@media (width <= 768px) {
  .navmenu-desktop {
    display: none;
  }
  .navmenu-mobile {
    animation: fade-out 0.3s ease-out;
    background-color: $background-color;
    position: fixed;
    top: $spacer-xxl;
    right: auto;
    width: 100vw;
    height: 100%;
    margin: 0;
    transition-behavior: allow-discrete;
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 0;
      margin: auto;
      width: fit-content;
      padding-block: $spacer-md;
      li {
        margin-bottom: $spacer-md;
      }
      li,
      .dropdown {
        text-align: center;
        .nav-link {
          white-space: nowrap;
          font-size: 1.5em;
          font-weight: 600;
        }
      }
    }
  }
  #navmenu-header-mobile:popover-open {
    animation: fade-in 0.3s ease-out;
  }
}
