#theme-navbar-toggler {
  width: 32px;
  height: auto;
  min-height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  .custom-burger {
    background-color: var(--default-color);
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .custom-burger:nth-child(1) {
    top: 0px;
  }
  .custom-burger:nth-child(3),
  .custom-burger:nth-child(2) {
    top: 10px;
  }
  .custom-burger:nth-child(4) {
    top: 20px;
  }
  &.open .custom-burger:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  &.open .custom-burger:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open .custom-burger:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.open .custom-burger:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
}

#theme-navbar-toggler {
  position: relative;
  z-index: 200;
}

@media (width >= 768px) {
  #theme-navbar-toggler {
    display: none;
  }
}
