@use "../../variables" as *;
@use "../../design_system" as *;
@use "./utilities/flex" as *;

@mixin dropdown-details {
  @include flex-column-start;
  ::marker {
    content: "";
    visibility: hidden;
    display: none;
  }
  summary {
    display: grid;
    grid-template-columns: minmax($spacer-lg, auto) 1fr;
    align-items: center;
    margin-bottom: $spacer-xs;

    //SVG
    &:hover {
      cursor: pointer;
    }
    svg {
      box-sizing: border-box;
      width: $icon-sm;
      margin-inline: $spacer-xs;
      fill: $default-color;
    }
  }
  &[open] {
    svg {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      fill: $accent-color;
    }
  }
}

@mixin dropdown-details-custom {
  summary {
    font-size: $font-size-xs;
    padding-block: $spacer-sm;
    padding-inline-end: $spacer-xs;
    height: $icon-sm;
    p {
      background-color: $surface-color;
      padding-inline: $spacer-xs;
    }
    //SVG
    &:hover {
      cursor: pointer;
      svg {
        fill: $accent-color-2;
      }
    }
    .svg-container {
      background-color: $surface-color;
      padding-inline: $spacer-sm;
      svg {
        vertical-align: middle;
        width: $icon-xs;
      }
    }
  }
  &[open] {
    .svg-container {
      width: 0;
      padding: 0;
      transform: translateX(-$icon-sm);
      svg {
        width: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        fill: $accent-color;
      }
    }
    p {
      transform: translateX(-$spacer-lg);
      transition: 0.2s all 0.2s ease-in-out;
    }
    summary:hover {
      p {
        transform: translateX(0);
        transition: 0.2s all 0.2s ease-in-out;
      }
      .svg-container {
        width: fit-content;
        transform: translateX(0);
        svg {
          width: $icon-xs;
        }
      }
    }
  }
}

.dropdown-details {
  @include dropdown-details;
  @include dropdown-details-custom;
  //dropdown menu
  .dropdown-menu {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
  }
}

//desktop dropdown

//initial state
.dropdown-over {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  svg {
    width: $icon-xs;
    height: $icon-xs;
    fill: $default-color;
    transition: all 0.3s ease;
  }
  .dropdown-menu {
    overflow: hidden;
    position: absolute;
    top: 90%;
    left: -1em;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: $background-color;
    li {
      a {
        padding: 1em;
        white-space: nowrap;
      }
    }
    li:last-child {
      margin-bottom: $spacer-sm;
    }
  }
}

//hover state
.dropdown-over:hover {
  svg {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    fill: var(--accent-color-2);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .dropdown-menu {
    height: fit-content;
    opacity: 1;
  }
}

.dropdown-footer {
  .dropdown-menu {
    left: -1em;
    top: auto;
    bottom: 100%;
    li:last-child {
      margin-bottom: 0;
    }
  }
}
