@use "../../variables" as *;
@use "../../design_system" as *;
@use "./utilities/flex" as *;
@use "../atoms/links" as *;
@use "../atoms/list" as *;
@mixin dropdown-summary {
  display: grid;
  grid-template-columns: minmax($spacer-lg, auto) 1fr;
  align-items: center;
  width: 100%;
}

@mixin dropdown-svg-open {
  background-color: $accent-color-2;
  transition: all 0.2s step-start;
  padding: $spacer-xs;
  svg {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    fill: $default-color;
    transition: all 0.2s ease;
  }
}

@mixin dropdown-details($color: $accent-color) {
  ::marker {
    content: "";
    visibility: hidden;
    display: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }
  summary {
    @include dropdown-summary;
  }
  &[open] {
    .svg-container {
      @include dropdown-svg-open;
    }
  }
  summary:focus-visible,
  a:focus-visible {
    outline: $spacer-xs solid $accent-color;
    padding-inline: $spacer-xs;
  }
  &:focus-within:has(summary:focus-visible),
  &:focus-within:has(a:focus-visible) {
    outline: $spacer-xs solid $accent-color;
    summary {
      outline: none;
    }
  }
}

@mixin dropdown-hover($color: $accent-color) {
  //hover and focus states
  position: relative;
  &:focus-visible {
    outline: $spacer-xs solid $color;
    outline-offset: calc($spacer-xs * -1);
  }
  &:focus-within:has(.dropdown-link:focus-visible) {
    outline: $spacer-xs solid $color;
    .dropdown-menu {
      outline: none;
    }
  }
  .dropdown-link {
    @include dropdown-summary;
  }
  .dropdown-menu {
    //position absolute
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 100%;
    width: 100%;
    left: 0;

    // animation
    height: 0;
    opacity: 0;
  }
}

@mixin dropdown-hover-open {
  //hover and focus states
  &:has(.dropdown-link.open),
  &:hover,
  &:focus,
  &:focus-within {
    .svg-container {
      @include dropdown-svg-open;
    }
    .dropdown-menu {
      // animation
      height: fit-content;
      opacity: 1;
    }
    // to match details dropdown
    .dropdown-menu {
      border-inline: $spacer-sm solid $surface-color;
      transition: 0;
    }
  }
}

@mixin dropdown-custom {
  border-inline: $spacer-sm solid $surface-color;
  margin-block: $spacer-sm;
  summary,
  .dropdown-link {
    font-size: $font-size-sm;
    padding-block: $spacer-sm;
    background-color: $surface-color;
    a {
      @include links;
    }
    //SVG
    .svg-container {
      display: flex;
      svg {
        vertical-align: middle;
        width: $icon-xs;
        margin: auto;
        transition: all 0.3s ease;
        fill: $default-color;
      }
    }
    &:hover {
      .svg-container {
        @include dropdown-svg-open;
      }
    }
  }
  .dropdown-title {
    padding: $spacer-sm;
    cursor: pointer;
  }
  &[open] {
    .svg-container {
      width: 0;
      padding: 0;
      transform: translateX(-$icon-sm);
      svg {
        width: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        fill: $accent-color;
      }
    }
    .dropdown-title {
      transform: translateX(-$spacer-lg);
      transition: all 0.2s ease-in-out;
    }
    summary:hover {
      .dropdown-title {
        transform: translateX(0);
        transition: all 0.2s ease-in-out;
      }
      .svg-container {
        width: fit-content;
        transform: translateX(0);
        svg {
          width: $icon-xs;
        }
      }
    }
  }

  .dropdown-menu {
    background-color: $surface-color-2;
    padding: $spacer-sm;
    border-block-end: $spacer-sm solid $surface-color;
    font-size: $font-size-sm;
    overflow-y: auto;
    width: 100%;
    left: 0;

    li:last-child {
      margin-bottom: $spacer-sm;
    }
    li {
      display: grid;
      grid-template-columns: $spacer-md 1fr;
      align-items: center;
      @include list;
    }

    a {
      @include links;
    }
    & > * {
      margin-bottom: $spacer-xs;
    }
  }
  &::details-content {
    width: 100%;
  }
}

@mixin dropdown-custom-hover {
  .dropdown-menu {
    width: calc(100% + $spacer-sm * 2);
    left: -$spacer-sm;
  }
}

.dropdown-details {
  @include dropdown-details;
  @include dropdown-custom;
}

.dropdown-hover-container {
  height: 600px;
  overflow: hidden;
  padding-inline: $spacer-sm;
}

.dropdown-hover {
  @include dropdown-hover($accent-color);
  @include dropdown-hover-open;
  @include dropdown-custom;
  @include dropdown-custom-hover;
}

.nav-system header {
  background-color: $surface-color;
  position: relative;
  display: grid;
  .dropdown-hover {
    position: initial;
    margin-block: 0;
    height: 100%;
    .dropdown-link {
      padding-block: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .svg-container {
        display: none;
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    @include flex-column-center;
    left: 0;
    li {
      margin-bottom: 1em;
      width: fit-content;
    }
  }
  summary {
    background-color: $surface-color-2;
  }
  .dropdown-details {
    background-color: $surface-color-2;
    border: none;
  }
}

.dropdown-footer {
  .dropdown-menu {
    left: -1em;
    top: auto;
    bottom: 100%;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

// .navmenu-list {
//   @include flex-center;
//   background-color: $surface-color-2;
//   li,
//   .dropdown-link {
//     & > * {
//       @include links;
//       &:hover {
//         cursor: pointer;
//       }
//     }
//     &.active {
//       a {
//         color: $accent-color;
//       }
//     }
//   }
//   .dropdown-menu {
//     width: fit-content;
//   }
// }
