.post-full {
  .post-date {
    display: flex;
    align-items: center;
  }
  .separator {
    background-color: var(--default-color);
    width: 1em;
    height: 2px;
    margin-inline: 0.5em;
    @media (width >= 768px) {
      width: 2px;
      height: 1em;
      margin-inline: 0.5em;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .content {
    pre,
    code,
    div {
      word-wrap: break-word;
    }
  }
  .content pre {
    background-color: var(--accent-color-4);
    color: var(--default-color);
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
  }
}

.code-block {
  width: 100%;
  display: inline-block;
  overflow-x: auto;
  &:hover {
    cursor: pointer;
  }
  &:hover::after {
    content: "Copy";
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: var(--spacer);
    right: var(--spacer);

    background-color: var(--accent-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--spacer) / 2.5);
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: var(--border-radius);
    color: var(--accent-color-4);
  }
}

.copied {
  &:hover::after {
    content: "Copied !";
  }
}

.post-header {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacer);
  @media (width >= 992px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.post-actions {
  display: flex;
  align-items: center;
  gap: var(--spacer);
}
