.post-full {
  .post-date {
    display: flex;
    align-items: center;
  }
  .separator {
    background-color: var(--accent-color);
    width: 1em;
    height: 2px;
    margin-inline: 0.5em;
    @media (width >= 768px) {
      width: 2px;
      height: 1em;
      margin-inline: 0.5em;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .content {
    pre,
    code,
    div {
      word-wrap: break-word;
    }
  }
  .content pre {
    background-color: var(--accent-color-4);
    color: var(--default-color);
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
  }
}

.code-block,
.copied {
  width: 100%;
  display: inline-block;
  overflow-x: auto;
  &:hover {
    cursor: pointer;
  }
  &:hover::after {
    content: "Copy";
    position: absolute;
    width: 100%;
    height: calc(100% - var(--spacer));
    top: 0;
    left: 0;
    background-color: color-mix(
      in srgb,
      var(--accent-color-4) 40%,
      transparent
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--default-color);
  }
}

.copied {
  &:hover::after {
    content: "Copied !";
    background-color: color-mix(
      in srgb,
      var(--accent-color-4) 80%,
      transparent
    );
  }
}

.single .wrapper {
  background-color: var(--background-color);
  padding-block: 1em;
  padding-inline: 2em;
  @media (width >= 992px) {
    margin: auto;
    width: 50vw;
  }
}
