@use "./variables" as *;

@keyframes fade-in {
  0% {
    opacity: 0;
    left: -100%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    left: 0;
    display: block;
  }

  100% {
    opacity: 0;
    left: -100%;
    display: none;
  }
}

@mixin gradient-text {
  transition: all 0.2s ease-in-out;
  width: fit-content;
  background: linear-gradient(
    to right,
    $accent-color-2,
    $accent-color-3,
    $accent-color-4
  );
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
