@use "sass:map";
@use "./variables" as *;
@use "./utilities/flex" as *;
@use "./animations" as *;
@use "./typography" as *;
@use "./components/atoms/list" as *;
@use "./components/atoms/links" as *;
@use "./components/atoms/button" as *;
@mixin grid-col-3-demo($context) {
  .flex-auto {
    display: flex;
    flex-direction: column;
    gap: $spacer-md;
    & > * {
      @include flex-center;
      $i: 1;
      @if $context == "border-radius" {
        @each $key, $value in $border-radius {
          &:nth-child(#{$i}) > * {
            background-color: $accent-color;
            @include card-border-radius($key);
          }
          $i: $i + 1;
        }
      }
      @if $context == "img-sizes" {
        @each $key, $value in $img-sizes {
          &:nth-child(#{$i}) > * {
            @include card-img-size($key);
          }
          $i: $i + 1;
        }
      }
    }
  }
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      .flex-auto {
        width: clamp(
          calc(375px - ($border-padding-inline)),
          calc($value - $spacer-lg - ($border-padding-inline)),
          calc(1200px - ($border-padding-inline))
        );

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $spacer-md;
      }
    }
  }
}

/* ------- Table component ------- */

@mixin grid-table-2-columns {
  // mobile
  @include flex-column-center;
  border-block-end: $wrapper-border-inline solid $gray-color;
  gap: $spacer-md;
  padding-block: $spacer-md;
  &:first-child {
    padding-inline: $spacer-md;
  }
  // responsive
  @media (width >= $breakpoint-sm) {
    display: grid;
    grid-template-columns: minmax(150px, auto) 1fr;
    grid-template-rows: 120px;
    gap: 0;
    padding-block: 0;
    & > *:first-child {
      grid-template-rows: 50px;
      align-self: center;
      justify-self: start;
    }
    & > *:not(:first-child) {
      align-self: center;
      justify-self: center;
    }
  }
}

/* ------- Flex-col-3-------- */

@mixin card_test {
  & > * {
    @include flex-column-start;
  }
}

@mixin text-content {
  @include flex-column-start;
  gap: $spacer-lg;
  padding-inline: $spacer-md;
  padding-block: $spacer-xxl;
  height: 100%;
  max-width: 100%;
  margin-inline: auto;
  @media (width >= $breakpoint-sm) {
    max-width: 60ch;
  }
  @media (width >= $breakpoint-md) {
    max-width: 75ch;
  }
  @media (width >= $breakpoint-lg) {
    max-width: 90ch;
  }
  @media (width >= $breakpoint-xl) {
    max-width: 120ch;
  }
}
@mixin card_text {
  .text-content {
    @include text-content;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $heading-font;
      font-size: $font-size-xxl;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: $heading-color;
      font-weight: $font-weight-600;
      margin-block-end: $spacer-md;
    }
    p {
      font-family: $text-font;
      font-size: $font-size-sm;
      line-height: 1.6;
      color: $default-color;
      font-weight: $font-weight-400;
      word-spacing: -0.3em;
    }
    ul {
      font-family: $text-font;
      font-size: $font-size-xs;
      line-height: 1.5;
      color: $default-color;
      font-weight: $font-weight-400;
      word-spacing: -0.3em;
      border-radius: $border-radius-rounded;
      @include list;
    }
    button {
      font-family: $heading-font;
      font-size: $font-size-sm;
      line-height: 1.5;
      color: $default-color;
      font-weight: $font-weight-400;
      @include btn;
    }

    a {
      font-family: $text-font;
      font-size: $font-size-sm;
      line-height: 1.5;
      color: $link-color;
      font-weight: $font-weight-400;
      word-spacing: -0.3em;
    }

    span {
      font-family: $text-font;
      font-size: $font-size-xs;
      line-height: 1.5;
      color: $link-color;
      font-weight: $font-weight-400;
    }
  }
}
.post-full {
  background-color: $background-color-2;
  @include card_text;
  .post-title {
    background-image: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .post-content {
    background: linear-gradient(
        90deg,
        $background-color-3 50%,
        $background-color-4 100%
      )
      no-repeat;
    padding: $spacer-lg;
    border-radius: $border-radius-rounded;
    & a {
      color: $accent-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  .post-date {
    background-color: $surface-color-2;
    padding: $spacer-sm;
    border-radius: $border-radius-rounded;
    gap: $spacer-sm;
    @include flex-center;
  }
}

@mixin card_background-color {
  & > * {
    @include flex-column-center;
    margin-inline: auto;
    gap: $spacer-md;
    padding: $spacer-md;
    p {
      font-weight: $font-weight-600;
    }
  }
}

@mixin card-border-radius($key) {
  border-radius: map.get($border-radius, $key);
  background-color: $accent-color;
  height: 100px;
  @if $key == "pill" {
    width: 200px;
  } @else {
    width: 100px;
  }
}
@mixin card-img-size($key) {
  background-color: $accent-color;
  height: map.get($img-sizes, $key);
  width: map.get($img-sizes, $key);
}

@mixin grid-col-3 {
  //mobile
  .flex-auto {
    display: flex;
    flex-direction: column;
    gap: $spacer-md;
    width: 100%;
    & > * {
      @content;
    }
  }
  // responsive
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width <= $breakpoint-xxl) and (width >= $breakpoint-md) {
      .flex-auto {
        width: calc($value - $spacer-lg - ($border-padding-inline));
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacer-md;
        & > * {
          @content;
        }
      }
    }
  }
  // desktop
  @media (width >= $breakpoint-xxl) {
    .flex-auto {
      display: grid;
      grid-template-columns: minmax(auto, 33%) minmax(auto, 33%) minmax(
          auto,
          33%
        );
      gap: $spacer-md;
      width: calc(1200px - ($border-padding-inline));
      & > * {
        @content;
      }
    }
  }
}

/* ------- Design System ------- */

.design-system {
  .page-title {
    font-size: $font-size-xxl;
    margin-bottom: $spacer-lg;
    text-align: center;
    line-height: 1.5;
    @include gradient-text;
  }

  .design-system-header {
    padding-inline: $spacer-sm;
    padding-block: $spacer-sm;
    width: 100%;
    background-color: $surface-color;
    color: $accent-color;
    margin-block-end: $spacer-md;
  }

  .table-component {
    padding-block: 0;
    .grid-table {
      @include grid-table-2-columns;
      &:last-child {
        border-block-end: 0;
      }
    }
  }

  .font-weight-system {
    .grid-table {
      grid-template-rows: auto;
      padding-block: $spacer-md;
      background-image: linear-gradient(
        to bottom,
        $accent-color,
        $accent-color-2,
        $accent-color-3,
        $accent-color-4,
        $accent-color-3,
        $accent-color-2,
        $accent-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% 200%;
      background-repeat: no-repeat;
      background-position: 0 0;
      &:hover {
        animation: gradient-animation 10s ease-in-out infinite;
      }
    }
  }

  @keyframes gradient-animation {
    0% {
      background-position: 100% 0;
    }
    30% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 0 100%;
    }
    70% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .text-system {
    .flex-auto {
      & > * {
        width: 100%;
        @include card_text;
      }
    }
  }

  .background-color-system {
    @include grid-col-3 {
      @include card_background-color;
    }
  }

  .dropdown-system {
    @include grid-col-3 {
      @include card_test;
    }
  }

  .border-radius-system {
    @include grid-col-3-demo("border-radius");
  }

  .img-sizes-system {
    @include grid-col-3-demo("img-sizes");
  }
}

.nav-system {
  height: 50vh;
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: $spacer-xxl;
    padding-inline: $spacer-md;
  }
}
