@use "sass:map";
@use "./variables" as *;
@use "./utilities/flex" as *;
@use "./animations" as *;
@use "./typography" as *;
@use "./components/atoms/list" as *;
@use "./components/atoms/links" as *;
@use "./components/atoms/button" as *;

@mixin grid-col-3-demo($context) {
  .flex-auto {
    display: flex;
    flex-direction: column;
    gap: $spacer-md;
    & > * {
      @include flex-center;
      $i: 1;
      @if $context == "border-radius" {
        @each $key, $value in $border-radius {
          &:nth-child(#{$i}) > * {
            background-color: $accent-color;
            @include card-border-radius($key);
          }
          $i: $i + 1;
        }
      }
      @if $context == "img-sizes" {
        @each $key, $value in $img-sizes {
          &:nth-child(#{$i}) > * {
            @include card-img-size($key);
          }
          $i: $i + 1;
        }
      }
    }
  }
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      .flex-auto {
        width: clamp(
          calc(375px - ($border-padding-inline)),
          calc($value - $spacer-lg - ($border-padding-inline)),
          calc(1200px - ($border-padding-inline))
        );

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $spacer-md;
      }
    }
  }
}

/* ------- Table component ------- */

@mixin grid-table-2-columns {
  // mobile
  @include flex-column-center;
  border-block-end: $wrapper-border-inline solid $gray-color;
  gap: $spacer-md;
  padding-block: $spacer-md;
  &:first-child {
    padding-inline: $spacer-md;
  }
  // responsive
  @media (width >= $breakpoint-sm) {
    display: grid;
    grid-template-columns: minmax(150px, auto) 1fr;
    grid-template-rows: 120px;
    gap: 0;
    padding-block: 0;
    & > *:first-child {
      grid-template-rows: 50px;
      align-self: center;
      justify-self: start;
    }
    & > *:not(:first-child) {
      align-self: center;
      justify-self: center;
    }
  }
}

/* ------- Flex-col-3-------- */

@mixin card_test {
  & > * {
    @include flex-column-start;
  }
}

@mixin text-content {
  @include flex-column-start;
  gap: $spacer-lg;
  padding-inline: $spacer-md;
  padding-block: $spacer-xxl;
  height: 100%;
  max-width: 100%;
  margin-inline: auto;
  @media (width >= $breakpoint-sm) {
    max-width: 60ch;
  }
  @media (width >= $breakpoint-md) {
    max-width: 75ch;
  }
  @media (width >= $breakpoint-lg) {
    max-width: 90ch;
  }
  @media (width >= $breakpoint-xl) {
    max-width: 120ch;
  }
}
@mixin card_text {
  .text-content {
    @include text-content;

    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font-title-2;
    }
    p {
      font-family: $text-font;
      font-size: $font-size-sm;
      line-height: 1.6;
      font-weight: $font-weight-400;
      word-spacing: -0.3em;
    }
    ul {
      font-family: $text-font;
      font-size: $font-size-xs;
      line-height: 1.5;
      font-weight: $font-weight-400;
      word-spacing: -0.3em;
      border-radius: $border-radius-rounded;
      @include list;
    }
    button {
      font-family: $heading-font;
      font-size: $font-size-sm;
      line-height: 1.5;
      font-weight: $font-weight-400;
      @include btn;
    }

    a {
      font-family: $text-font;
      font-size: $font-size-sm;
      line-height: 1.5;
      font-weight: $font-weight-400;
      word-spacing: -0.3em;
      &:hover {
        text-decoration-thickness: 0.1em;
        font-weight: $font-weight-600;
        transition: text-decoration-thickness 0.2s ease-in-out,
          font-weight 0.3s ease-in-out;
      }
    }

    span {
      font-family: $text-font;
      font-size: $font-size-xs;
      line-height: 1.5;
      font-weight: $font-weight-400;
    }
  }
}

@mixin card_background-color {
  & > * {
    @include flex-column-center;
    margin-inline: auto;
    gap: $spacer-md;
    padding: $spacer-md;
    p {
      font-weight: $font-weight-600;
    }
  }
}

@mixin card-border-radius($key) {
  border-radius: map.get($border-radius, $key);
  background-color: $accent-color;
  height: 100px;
  @if $key == "pill" {
    width: 200px;
  } @else {
    width: 100px;
  }
}
@mixin card-img-size($key) {
  background-color: $accent-color;
  height: map.get($img-sizes, $key);
  width: map.get($img-sizes, $key);
}

@mixin grid-col-3 {
  //mobile
  .flex-auto {
    display: flex;
    flex-direction: column;
    gap: $spacer-md;
    width: 100%;
    & > * {
      @content;
    }
  }
  // responsive
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width <= $breakpoint-xxl) and (width >= $breakpoint-md) {
      .flex-auto {
        width: calc($value - $spacer-lg - ($border-padding-inline));
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacer-md;
        & > * {
          @content;
        }
      }
    }
  }
  // desktop
  @media (width >= $breakpoint-xxl) {
    .flex-auto {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: $spacer-md;
      width: calc(1200px - ($border-padding-inline));
      & > * {
        @content;
      }
    }
  }
}

/* ------- Design System ------- */
.page-title,
.post-title {
  margin-block: $spacer-xl;
  margin-inline: auto;
  @include gradient-text;
  h1 {
    @include font-title-1;
    -webkit-text-stroke: 1px $black-color;
  }
}

.design-system {
  .design-system-header {
    padding-inline: $spacer-sm;
    padding-block: $spacer-sm;
    width: 100%;
    background-color: $surface-color;
    color: $accent-color;
    margin-block-end: $spacer-md;
  }

  .table-component {
    padding-block: 0;
    .grid-table {
      @include grid-table-2-columns;
      &:last-child {
        border-block-end: 0;
      }
    }
  }

  .font-weight-system {
    .grid-table {
      grid-template-rows: auto;
      padding-block: $spacer-md;
      background-image: linear-gradient(
        to bottom,
        $accent-color,
        $accent-color-2,
        $accent-color-3,
        $accent-color-4,
        $accent-color-3,
        $accent-color-2,
        $accent-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% 200%;
      background-repeat: no-repeat;
      background-position: 0 0;
      &:hover {
        animation: gradient-animation 10s ease-in-out infinite;
      }
    }
  }

  @keyframes gradient-animation {
    0% {
      background-position: 100% 0;
    }
    30% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 0 100%;
    }
    70% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .text-system {
    .flex-auto {
      & > * {
        width: 100%;
        @include card_text;
      }
    }
  }

  .background-color-system {
    @include grid-col-3 {
      @include card_background-color;
    }
  }

  .dropdown-system {
    @include grid-col-3 {
      @include card_test;
    }
  }

  .border-radius-system {
    @include grid-col-3-demo("border-radius");
  }

  .img-sizes-system {
    @include grid-col-3-demo("img-sizes");
  }
}

.nav-system {
  height: 50vh;
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: $spacer-xxl;
    padding-inline: $spacer-md;
  }
}

p {
  color: $default-color;
}

button {
  color: $default-color;
}
a,
.nav-link {
  color: $link-color;
}
span {
  color: $default-color;
}

// .button-system .flex-auto {
//   display: flex;
//   gap: $spacer-md;
//   width: 100%;
//   .button-container {
//     margin-inline: auto;
//     background-image: linear-gradient(
//       to bottom,
//       $background-color-3,
//       $background-color-4
//     );
//     border: 0.08em solid transparent;
//     padding: 0.08em;
//     margin-block-end: $spacer-lg;
//     button {
//       @include btn;
//       letter-spacing: 0.02em;
//       font-weight: $font-weight-600;
//       font-size: $font-size-sm;
//       padding-inline: $spacer-md;
//       padding-block: $spacer-sm;
//     }
//     &:hover {
//       animation: gradient-animation 0.2s step-start forwards;
//     }
//   }
// }

// .button-system .flex-auto {
//   display: flex;
//   gap: $spacer-md;
//   justify-content: center;
//   width: 100%;
//   .button-wrapper {
//     margin-block-end: $spacer-lg;
//     background-color: $surface-color;
//     border: 0.08em solid $surface-color-5;
//     border-radius: $border-radius-rounded;
//     .button-container {
//       background-image: linear-gradient(
//         to bottom,
//         $accent-color,
//         $accent-color-2,
//         $accent-color-3,
//         $accent-color-4
//       );
//       background-size: 100% 100%;
//       background-repeat: no-repeat;
//       background-position: 0 0;
//       background-clip: text;
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       opacity: 1;
//       button {
//         @include btn;
//         letter-spacing: 0.02em;
//         font-weight: $font-weight-600;
//         font-size: $font-size-sm;
//         padding-inline: $spacer-md;
//         padding-block: $spacer-sm;
//       }
//     }
//   }
// }

.button-wrapper {
  margin-block-end: $spacer-lg;
  background-color: $surface-color;
  border: 0.08em solid $surface-color-5;
  border-radius: $border-radius-rounded;
  padding-inline: $spacer-md;
  padding-block: $spacer-sm;
  .button-container {
    button {
      @include btn;
      letter-spacing: 0.02em;
      font-weight: $font-weight-600;
      font-size: $font-size-sm;
    }
    &:hover {
      animation: gradient-animation 0.2s step-start forwards;
    }
  }
}

.design-system-3d {
  display: grid;
  place-items: center;
  width: fit-content;
  margin-inline: auto;
  overflow: hidden;
  perspective: 1000px;
  *:not(.panel) {
    transform-style: preserve-3d;
  }

  .scene {
    position: relative;
    //transform: rotateX(-30deg) rotateY(30deg);
    .title {
      @include font-title-1;
      -webkit-text-stroke: 3px $default-color;
      color: $background-color;
    }
    .panel {
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 80%;
      transform-origin: bottom;
      background-image: linear-gradient(
        to bottom,
        $accent-color,
        $accent-color-2,
        $accent-color-3,
        $accent-color-4
      );
      border-radius: $border-radius-rounded;
      rotate: x 95deg;
      z-index: -10;
    }
  }
  &:hover {
    animation: 0.25s gradient-animation 0.2s step-start forwards;
    .panel {
      animation: rotate-panel 0.5s linear forwards;
    }
  }
}

@keyframes rotate-panel {
  0% {
    opacity: 0.4;
    rotate: x 95deg;
  }
  30% {
    opacity: 0.6;
    rotate: x 0deg;
  }
  100% {
    rotate: x 0deg;
    opacity: 0;
  }
}
@keyframes gradient-animation {
  to {
    background-image: linear-gradient(
      to bottom,
      $accent-color,
      $accent-color-2,
      $accent-color-3,
      $accent-color-4
    );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
}

// position: absolute;
//   top: -8px;
//   left: -200px;
//   width: 100%;
//   height: 100%;
//   transform-origin: center;
//   background-color: black;
//   rotate: x -81deg;
//   animation: rotate-panel 3s linear forwards;
