@use "./variables" as *;

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 100%;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraCode-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 100%;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 100%;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 100%;
  font-style: normal;
}
/* Fonts */
:root {
  --text-font: "Fira Sans", "Raleway", system-ui, -apple-system, "Segoe UI",
    sans-serif;
  --primary-font: "EB Garamond", serif;
  --secondary-font: "Outfit", sans-serif;
  --heading-font: "Oswald", sans-serif;
  --font-size-base: 16px;
}

$text-font: var(--text-font);
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);
$heading-font: var(--heading-font);

$fonts: (
  "text": $text-font,
  "primary": $primary-font,
  "secondary": $secondary-font,
  "heading": $heading-font,
);

@each $key, $value in $fonts {
  .#{$key}-font {
    font-family: $value;
  }
}

@mixin font-1 {
  font-family: $text-font;
  font-size: $font-size-sm;
  line-height: 1.6;
  color: inherit;
  font-weight: $font-weight-400;
  word-spacing: -0.3em;
}

@mixin font-nav-1 {
  font-family: $secondary-font;
  font-size: $font-size-sm;
  line-height: 1.6;
  color: inherit;
  font-weight: $font-weight-400;
  word-spacing: -0.3em;
}

.nav-link {
  @include font-nav-1;
}

@mixin font-title-1 {
  font-family: $heading-font;
  font-size: $font-size-big;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: inherit;
  font-weight: $font-weight-600;
  margin-block-end: $spacer-md;
}

.page-title {
  @include font-title-1;
}

@mixin font-title-2 {
  font-family: $heading-font;
  font-size: $font-size-xl;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: inherit;
  font-weight: $font-weight-600;
  margin-block-end: $spacer-md;
}

section-title {
  @include font-title-2;
}

//   p {
//     font-family: $text-font;
//     font-size: $font-size-sm;
//     line-height: 1.6;
//     font-weight: $font-weight-400;
//     word-spacing: -0.3em;
//   }
//   ul {
//     font-family: $text-font;
//     font-size: $font-size-xs;
//     line-height: 1.5;
//     font-weight: $font-weight-400;
//     word-spacing: -0.3em;
//     border-radius: $border-radius-rounded;
//     @include list;
//   }
//   button {
//     font-family: $heading-font;
//     font-size: $font-size-sm;
//     line-height: 1.5;
//     font-weight: $font-weight-400;
//     @include btn;
//   }

//   a {
//     font-family: $text-font;
//     font-size: $font-size-sm;
//     line-height: 1.5;
//     font-weight: $font-weight-400;
//     word-spacing: -0.3em;
//   }

//   span {
//     font-family: $text-font;
//     font-size: $font-size-xs;
//     line-height: 1.5;
//     font-weight: $font-weight-400;
//   }
// }
