@font-face {
    font-family: 'Dragon';
    src: url('../fonts/Dragon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Dragon', sans-serif ;
    font-weight: 300;
    letter-spacing: 0.2em;
}

.site-title__link{
    font-size: 8em;
    font-weight: 600;
    color: transparent;
    transform: translateY(20%);
}

.nav__menu__item__link{
    font-size: 1.3rem;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.title-container__title{
    font-size: 4em;
    font-weight: 600;
    color: var(--white-color);
    margin: 0;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    a{
        font-size: 1em;
        font-weight: 600;
        color: var(--white-color);
        padding: .8em .5em .5em;
        border-radius: 0.5em;
        background-color: var(--background-transparent-color);
        min-width: 10em;
        text-align: center;
    }
}



@media (max-width: 768px) {
    .site-title__link{
        font-size: 4em;
    }
    .nav__menu__item{
        padding: 0 .5em;
    }
    .nav__menu__item__link{
        font-size: .9em;
    }
    .title-container__title{
        font-size: 2em;
    }
}   