/* Colors */
:root {
  --color-scheme: light dark;
  --pourcentage: 40%;
  --white-color: #f4fafd;
  --black-color: #040b14;
  --background-color: var(--white-color);
  --contrast-color: var(--white-color);
  --default-color: var(--black-color);
  --heading-color: color-mix(
    in srgb,
    var(--default-color),
    var(--accent-color) var(--pourcentage)
  );
  --accent-color: #461e64;
  --accent-color-2: #ce4e57;
  --accent-color-3: #920e4a;
  --accent-color-4: #7a388c;
  --accent-color-5: #68c0c2;
  --surface-color: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 10%
  );
  --surface-color-2: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 30%
  );
  --surface-color-3: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 50%
  );
  --surface-color-4: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 70%
  );
  --surface-color-5: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 90%
  );
  --gray-color: #afbdbf;
}

.dark-theme {
  --accent-color: #68c0c2;
  --accent-color-2: #ce4e57;
  --accent-color-3: #920e4a;
  --accent-color-4: #7a388c;
  --accent-color-5: #461e64;
  --background-color: var(--black-color);
  --default-color: var(--white-color);
  --contrast-color: var(--black-color);
  --heading-color: color-mix(
    in srgb,
    var(--default-color),
    var(--accent-color) var(--pourcentage)
  );
  --surface-color: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 10%
  );
  --surface-color-2: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 30%
  );
  --surface-color-3: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 50%
  );
  --surface-color-4: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 70%
  );
  --surface-color-5: color-mix(
    in srgb,
    var(--background-color),
    var(--accent-color) 90%
  );
  --gray-color: #3b4142;
}

/* ------- Colors ------- */

$black-color: var(--black-color);
$white-color: var(--white-color);
$background-color: var(--background-color);
$contrast-color: var(--contrast-color);
$default-color: var(--default-color);
$heading-color: var(--heading-color);
$accent-color: var(--accent-color);
$accent-color-2: var(--accent-color-2);
$accent-color-3: var(--accent-color-3);
$accent-color-4: var(--accent-color-4);
$accent-color-5: var(--accent-color-5);
$surface-color: var(--surface-color);
$surface-color-2: var(--surface-color-2);
$surface-color-3: var(--surface-color-3);
$surface-color-4: var(--surface-color-4);
$surface-color-5: var(--surface-color-5);
$gray-color: var(--gray-color);

$colors: (
  "background-color": $background-color,
  "contrast-color": $contrast-color,
  "default-color": $default-color,
  "heading-color": $heading-color,
  "accent-color": $accent-color,
  "accent-color-2": $accent-color-2,
  "accent-color-3": $accent-color-3,
  "accent-color-4": $accent-color-4,
  "accent-color-5": $accent-color-5,
  "surface-color": $surface-color,
  "surface-color-2": $surface-color-2,
  "surface-color-3": $surface-color-3,
  "surface-color-4": $surface-color-4,
  "surface-color-5": $surface-color-5,
  "gray-color": $gray-color,
);

@each $key, $value in $colors {
  .#{$key} {
    color: $value;
  }
}
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
}

/* Design System */

/* ------- Font-size  ------- */

$font-size-xs: clamp(0.8rem, 1vw, 1rem);
$font-size-sm: clamp(1rem, 1.3vw, 1.2rem);
$font-size-md: clamp(1.2rem, 2vw, 2rem);
$font-size-lg: clamp(1.5rem, 3vw, 2.7rem);
$font-size-xl: clamp(2rem, 4vw, 3.5rem);
$font-size-xxl: clamp(2.5rem, 5vw, 4rem);

$font-sizes: (
  "xs": $font-size-xs,
  "sm": $font-size-sm,
  "md": $font-size-md,
  "lg": $font-size-lg,
  "xl": $font-size-xl,
  "xxl": $font-size-xxl,
);

@each $key, $value in $font-sizes {
  .fs-#{$key} {
    font-size: $value;
  }
}

/* ------- IMG  ------- */
$icon-xs: 16px;
$icon-sm: 24px;
$icon-md: 32px;
$icon-lg: 48px;
$logo-sm: 60px;
$logo-md: 80px;
$logo-lg: 100px;
$full: 100%;

$img-sizes: (
  "icon-xs": $icon-xs,
  "icon-sm": $icon-sm,
  "icon-md": $icon-md,
  "icon-lg": $icon-lg,
  "logo-sm": $logo-sm,
  "logo-md": $logo-md,
  "logo-lg": $logo-lg,
  "full": 100%,
);

/* ------- border-radius ------- */
$border-radius-sharp: 0.02em;
$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-rounded: 10px;
$border-radius-pill: 999px;
$border-radius-circle: 50%;
$border-radius-retro: 10px 20px 30px 40px;

$border-radius: (
  "sharp": $border-radius-sharp,
  "sm": $border-radius-sm,
  "md": $border-radius-md,
  "rounded": $border-radius-rounded,
  "pill": $border-radius-pill,
  "circle": $border-radius-circle,
  "retro": $border-radius-retro,
);

/* ------- Breakpoint ------- */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "xxl": $breakpoint-xxl,
);

/* ------- Spacer ------- */
$spacer-xs: 0.25em;
$spacer-sm: 0.5em;
$spacer-md: 1em;
$spacer-lg: 1.5em;
$spacer-xl: 2em;
$spacer-xxl: 85px;

$spacers: (
  "xs": $spacer-xs,
  "sm": $spacer-sm,
  "md": $spacer-md,
  "lg": $spacer-lg,
  "xl": $spacer-xl,
);

@each $key, $value in $spacers {
  .gap-#{$key} {
    gap: $value;
  }
}

/* ------- Wrapper ------- */

$wrapper-border-inline: 3px;
$wrapper-padding-inline: $spacer-md;
$border-padding-inline: calc(
  $wrapper-border-inline * 2 + $wrapper-padding-inline * 2
);

/* ------- Underline ------- */
$underline-height: 0.08em;
