@use "./variables" as *;
@use "./animations" as *;

@use "./utilities/flex" as *;

@use "./components/atoms/img" as *;
@use "./components/molecules/dropdown" as *;
@use "./components/molecules/burger" as *;
@use "./components/organisms/navbar-desktop" as *;
@use "./components/organisms/navbar-mobile" as *;
@use "./components/organisms/search-open" as *;
@use "./components/organisms/header" as *;

@use "./partials/post_full" as *;

@use "./design_system" as *;
@use "./typography" as *;

@view-transition {
  navigation: auto;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;
}

*[popover] {
  border: none;
}

body {
  background-color: $background-color;
  color: $default-color;
  overflow-x: hidden;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ------- Font family ------- */
$heading-font: "Outfit", sans-serif;
$text-font: "Fira Sans", sans-serif;

p,
a,
span {
  font-family: $text-font;
  text-wrap: pretty;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  font-family: $heading-font;

  text-wrap: balance;
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.header-fixed {
  @include header-fixed;
}

@media (width >= $breakpoint-sm) {
  .wrapper {
    padding-inline: $wrapper-padding-inline;
  }
  .wrapper-border-inline {
    border-inline: $wrapper-border-inline solid $gray-color;
  }
}

/* ------- Container ------- */

@mixin container() {
  width: 100%;
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      width: calc($value - $spacer-lg);
    }
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  @include container;
}

$card-width: 150px;
$card-height: 100px;
$card-padding: $spacer-md;
.card {
  width: $card-width;
  height: $card-height;
  padding: $card-padding;
}

body {
  p {
    font-size: $font-size-sm;
  }
}

#search-results-popover {
  background-color: $surface-color-3;
}
#aas-search-input {
  background-color: $surface-color-2;
}
