@import "./components/dropdown";
@import "./components/burger";
@import "./components/search-open";
@import "./components/breadcrumbs";
@import "./components/modules";
@import "./components/scroll-top";
@import "./components/like-button";

@import "./pagination";
@import "./header";
@import "./typography";
@import "./colors";

@import "./partials/header/navbar-desktop";
@import "./partials/header/navbar-mobile";
@import "./partials/header/logo";
@import "./partials/article/post-full";
@import "./partials/front-page";
:root {
  --header-height: 85px;
  --icon-size: 1em;
  --icon-size-small: 1em;
  --icon-size-medium: 1.3em;
  --icon-size-big: 3em;

  --spacer-small: 0.5em;
  --spacer: 1em;
  --spacer-big: 2em;

  --border-radius: 0.5em;

  --container-width: 1200px;
}

* {
  box-sizing: border-box;
  &:focus-visible {
    outline-offset: var(--spacer);
    border-radius: var(--border-radius);
    padding: var(--spacer);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn,
.btn-container a {
  display: flex;
  align-items: center;
  gap: var(--spacer);
  padding: var(--spacer-small);
  border-radius: var(--border-radius);
  width: fit-content;
  &:hover {
    cursor: pointer;
  }
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: url("../../images/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

// ----- layout -----//

.wrapper-layout {
  position: relative;
  @media (width >= 992px) {
    display: grid;
    grid-template-areas:
      "aside-left center"
      "aside-right center";
    grid-template-columns: 30vw 70vw;
    margin: auto;
    & > aside {
      margin-inline-end: auto;
      max-width: calc(30vw - var(--spacer-big));
    }
  }
  @media (width >= 1200px) {
    display: grid;
    grid-template-areas: "aside-left center aside-right";
    grid-template-columns: 25vw 50vw 25vw;
    margin: auto;
    & > aside {
      margin-inline: auto;
      max-width: calc(25vw - var(--spacer-big));
    }
  }
}

.wrapper-center-content {
  grid-area: center;
  min-width: 100%;
  @media (width > 572px) {
    min-width: 400px;
  }
}

.wrapper {
  padding-block: var(--spacer-small);
  padding-inline: var(--spacer-big);
}

main {
  min-height: calc(100vh - (var(--header-height) * 4));
  margin-top: calc(var(--header-height) * 2);
}

footer {
  margin-bottom: var(--header-height);
}

.group-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);
}

.module {
  background-color: var(--background-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  transition: all 0.6s ease;
  display: flex;
  padding: 0;
  border: 0;
  inset: var(--header-height) auto auto 50%;
  transform: translateX(-50%);
  position: fixed;

  .button-mobile-close-module.btn {
    display: flex;
    @media (width >= 768px) {
      display: none;
    }
  }

  .module-content-list {
    max-height: 0;
    overflow: hidden;
    display: flex;
    gap: var(--spacer);
    justify-content: space-between;
    background-color: var(--surface-color);
  }
  &:popover-open {
    margin: 0;
    .module-content-list {
      max-height: 100%;
    }
  }
}

.wrapper-module {
  padding: calc(var(--spacer) * 2);
  .wrapper-popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacer);
  }
  .button-mobile-close-module {
    padding: 0;
    margin-inline-start: auto;
    svg {
      width: calc(var(--spacer) * 2);
      height: calc(var(--spacer) * 2);
      transition: all 0.3s ease;
    }
  }
}

.page-title {
  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
  }
  h2 {
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
  }
}

.main-category {
  background-color: transparent;
}
