@use "../../variables" as *;

// @mixin btn-custom {
//   border: 3px solid $accent-color-2;
//   border-radius: $border-radius-rounded;
//   background: linear-gradient(to right, $accent-color-3, $accent-color-2);
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   & * {
//     color: transparent;
//     fill: transparent;
//   }
// }

@mixin btn {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  text-align: inherit;
}

.btn {
  @include btn;
}
