@use "../../variables" as *;
@use "./utilities/flex" as *;
@use "../../typography" as *;

@mixin custom-btn-link {
  background-color: transparent;
  font-family: $primary-font;
  font-weight: 400;
}

@mixin link-underline($color: $link-color, $hover-color: $link-hover-color) {
  position: relative;

  display: flex;
  align-items: center;
  width: fit-content;

  cursor: pointer;

  text-transform: capitalize;
  text-decoration: none;
  line-height: 1.5rem;
  color: $color;

  $underline-offset: 0.2rem;

  &:hover {
    color: $hover-color;
    &::after {
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: $underline-height;
    background: $color;
    left: 50%;
    bottom: -$underline-offset;
    transform: translate(-50%, 0);
    transition: width 0.4s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: $underline-height;
    background: $hover-color;
    left: 50%;
    bottom: -$underline-offset;
    transform: translate(-50%, 0);
    transition: width 0.4s ease-in-out;
  }
}

@mixin link {
  position: relative;

  display: flex;
  align-items: center;
  width: fit-content;

  cursor: pointer;

  text-transform: capitalize;
  text-decoration: none;
  line-height: 1.5rem;
}

.btn-links {
  @include link;
  @include custom-btn-link;
}
