@use "../../variables" as *;

@mixin list {
  & {
    padding-inline: $spacer-sm;
    padding-block: $spacer-xl;
    li {
      margin-bottom: $spacer-md;
      margin-inline-start: $spacer-lg;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
