/* Nouveau conteneur spécifique pour les cartes 2 par ligne */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#main-taxonomy {
  container: taxo / inline-size;
  margin-top: var(--header-height);
  #child-category {
    .page-title {
      h1 {
        font-size: clamp(calc(2rem + 2cqi), 3.5rem, 4rem);
        font-weight: 700;
        color: var(--contrast-color);
        margin-bottom: var(--spacer);
      }
    }
    .page-description {
      width: min(calc(100% - var(--spacer)), 1000px);
      background-color: rgba(70, 30, 100, 1);
      margin-inline: auto;
      padding: var(--spacer-big);
      text-align: center;
      margin-bottom: var(--spacer-big);
      position: relative;
      p {
        font-size: clamp(1.3rem, 0.5rem + 1cqi, 2rem);
        font-weight: 400;
        color: var(--contrast-color);
      }
    }
    .page-description::before,
    .page-description::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: conic-gradient(
        from var(--angle),
        var(--accent-color-3),
        var(--accent-color-2),
        var(--accent-color-4)
      );
      z-index: -1;
      padding: 3px;
      animation: 3s spin linear;
    }
    .page-description::before {
      filter: blur(1.5rem);
      opacity: 0.5;
    }
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.wrapper-card-preview {
  .layout-card-preview {
    display: grid;
    max-width: var(--layout-width);
    margin-inline: auto;
    @media (width > 1400px) {
      grid-template-columns: repeat(3, minmax(var(--card-preview-width), 1fr));
      gap: var(--header-height);
      margin-bottom: var(--header-height);
    }
    .card-preview-center {
      grid-column: span 3 / span 3;
    }
    .card-preview {
      margin-inline: auto;
      background-color: var(--default-color);
      padding: calc(var(--spacer) - 0.25em);
      border-radius: 1em;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: conic-gradient(
          from var(--angle),
          var(--accent-color-3),
          var(--accent-color-2),
          var(--accent-color-4)
        );
        z-index: -1;
        padding: 3px;
        animation: 3s spin linear;
      }
      & > div {
        container: card-preview / inline-size;
      }
      .post-preview {
        display: flex;
        justify-content: space-between;
        height: var(--card-preview-height);
        .post-preview__content {
          background: url(../../images/test.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 95%;
          width: 100%;
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
          border-bottom-left-radius: 10%;
          border-bottom-right-radius: 10%;
          max-width: var(--card-preview-width);
          .post-preview__link {
            display: flex;
            flex-direction: column;
            margin-bottom: var(--spacer);
            padding-block: var(--spacer-small);
            padding-inline: calc(var(--spacer-small) - 0.2em);
            .post-preview__title {
              border-radius: 40px/90px;
              width: 100%;
              padding-block: 0.4em;
              padding-inline: var(--spacer-small);
              margin-inline: auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: var(--surface-color);
              border: var(--border-card-preview);
              box-shadow: var(--box-shadow-card-preview);
              outline: var(--outline-card-preview);
              h3 {
                margin: 0;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: var(--font-size-card-preview);
                font-weight: 600;
                font-family: var(--secondary-font);
              }
              span {
                font-family: var(--secondary-font);
                font-size: var(--font-size-card-preview);
                font-weight: 400;
                line-height: 1;
              }
            }
            .post-preview__figure {
              width: 94%;
              margin-inline: auto;
              overflow: hidden;
              max-height: 10em;
              border: var(--border-card-preview);
              outline: var(--outline-card-preview);
              margin-top: 2px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .post-preview__category {
              background-color: var(--surface-color);
              padding-inline: var(--spacer-small);
              padding-block: 0.4em;
              border-radius: 40px/90px;
              border: var(--border-card-preview);
              outline: var(--outline-card-preview);
              box-shadow: var(--box-shadow-card-preview);
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 1.5px;
              span {
                font-family: var(--secondary-font);
                font-size: var(--font-size-card-preview);
                font-weight: 600;
                text-transform: capitalize;
              }
              .post-preview__category-icon {
                width: var(--icon-size);
                height: var(--icon-size);
                background-image: url(../../images/cups.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
            .content {
              font-family: var(--tertiary-font) !important;
              width: 94%;
              margin-inline: auto;
              background-color: var(--surface-color);
              border: var(--border-card-preview);
              outline: var(--outline-card-preview);
              padding-inline: var(--spacer-small);
              margin-top: 2px;
              height: 5.5em;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              p {
                font-size: clamp(0.8rem, 0.5rem + 1cqi, 1rem);
              }
            }
          }
        }
      }
    }
  }
}

.card-court {
  .post-preview__figure img {
    object-position: top;
  }
}

#main-taxonomy .layout-card-preview-2-cols {
  @media (width > 1400px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card-preview {
      grid-column: span 1;
    }
  }
}

.wrapper-dropdown {
  width: fit-content;
  margin-inline: auto;
  position: relative;
}

.select-card-dropdown {
  margin-block-end: var(--spacer-big);
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-duration) ease-in-out;
  background-color: var(--accent-color);
  border: var(--border-card-preview);
  outline: var(--outline-card-preview);
  summary {
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 0.3rem + 1cqi, 1.3rem);
    font-weight: 400;
    padding-inline: calc(var(--spacer-small) - 0.1em);
    padding-block: var(--spacer-small);
    color: var(--background-color);
    cursor: pointer;
    background-color: var(--accent-color);
    border: var(--accent-color-4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacer-small);
    .svg-cup {
      opacity: 1;
      transition: opacity var(--transition-duration) ease-in-out;
    }
    &:hover {
      .svg-cup {
        opacity: 1;
      }
    }
  }
}
summary:has(+ ul > li:hover) {
  .svg-cup {
    opacity: 0;
  }
}

.select-card-dropdown > div {
  overflow: hidden;
}

.select-card-dropdown[open] {
  border: none;
  outline: none;
}

#main-taxonomy details::details-content {
  background-color: var(--accent-color);
}

.select-card-dropdown {
  ::marker {
    content: "";
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  ul > li:first-child {
    margin-block-start: var(--spacer-small);
  }
  ul > li {
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 0.3rem + 1cqi, 1.3rem);
    font-weight: 400;
    padding-inline: calc(var(--spacer-small) - 0.1em);
    padding-block: var(--spacer-small);
    cursor: pointer;
    border: var(--border-card-preview);
    outline: var(--outline-card-preview);
    padding-inline: var(--spacer-small);
    background-color: var(--surface-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacer-small);
    & > a {
      color: var(--accent-color-3);
    }
    &:hover {
      .svg-cup {
        opacity: 1;
        transition: opacity var(--transition-duration) ease-in-out;
      }
    }
  }
}

.svg-cup {
  width: 1em;
  height: 1em;
  background-image: url(../../images/cups.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
