#theme-navbar-toggler {
  --burger-base: 32px;
  width: var(--burger-base);
  height: auto;
  min-height: calc(var(--burger-base) * 0.75);
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  .custom-burger {
    display: block;
    position: absolute;
    height: calc(var(--burger-base) * 0.09375);
    width: 100%;
    border-radius: calc(var(--burger-base) * 0.28125);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .custom-burger:nth-child(1) {
    top: 0;
  }
  .custom-burger:nth-child(3),
  .custom-burger:nth-child(2) {
    top: calc(var(--burger-base) * 0.3125);
  }
  .custom-burger:nth-child(4) {
    top: calc(var(--burger-base) * 0.625);
  }
  &.open .custom-burger:nth-child(1) {
    top: calc(var(--burger-base) * 0.3125);
    width: 0%;
    left: 50%;
  }
  &.open .custom-burger:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open .custom-burger:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.open .custom-burger:nth-child(4) {
    top: calc(var(--burger-base) * 0.3125);
    width: 0%;
    left: 50%;
  }
}

#theme-navbar-toggler {
  position: relative;
  z-index: 200;
}

@media (width >= 768px) {
  #theme-navbar-toggler {
    display: none;
  }
}
