/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn-primary {
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-align: start;
  border-radius: 0 !important;
  border: 1px solid var(--button-color);
  letter-spacing: var(--letter-spacing-heading) !important;
  background: var(--button-color) !important;
  color: var(--white-color) !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: var(--button-color) !important;
    color: var(--white-color) !important;
    border: 1px solid var(--button-color) !important;
    padding-inline: 1.2em;
    transition: all 0.3s ease-in-out;
  }
}

.btn-big {
  font-size: 1.3rem;
  padding: 6px 15px;
  min-width: 200px;
}

#main-front-page .btn-big {
  margin-top: 60px;
  background: var(--inherit-color) !important;
  color: var(--button-color) !important;
  border: 1px solid var(--button-color) !important;
  &:hover {
    background: var(--button-color) !important;
    color: var(--white-color) !important;
  }
}
