/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn-primary {
  color: var(--default-color) !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  border: none !important;
  text-align: start;
  background: inherit !important;
  border-radius: 0 !important;
  border: 1px solid var(--default-color) !important;
  letter-spacing: var(--letter-spacing-heading) !important;
  &:hover {
    background: var(--button-color) !important;
    color: white !important;
  }
}

.btn-big {
  font-size: 1.3rem;
  padding: 6px 15px;
  min-width: 200px;
  margin-top: 60px;
}
