/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn-primary {
    color: var(--default-color) !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    border: none !important;
    min-width: 150px;
    text-align: start;
    background: linear-gradient(to right, color-mix(in srgb, var(--accent-color), white 30%) 0%, color-mix(in srgb, var(--background-color), transparent 100%) 50%, color-mix(in srgb, var(--accent-color), white 30%) 100%) !important;
    background-size: 200% auto !important;
    background-position: 0% center !important;
    transition: background-position .5s ease !important;
    border-radius: 0 !important;
    &:hover {
      transition: background-position 1.5s ease !important;
      background-position: -100% center !important;
    }
  }
  
  @media (max-width: 572px) {
    .btn-primary {
      background: var(--accent-color) !important;
      text-align: center;
    }
  }
  
  .btn-big {
    font-size: 1.3rem;
    padding: 6px 15px;
    min-width: 200px;
    margin-top: 60px;
  }