.wrapper-logo {
  display: flex;
  align-items: center;
  gap: 1em;
  img {
    width: calc(var(--header-height) * 0.8);
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  // .wrapper-site-title {
  //   background: var(--accent-color);
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   color: transparent;
  //   cursor: pointer;
  //   a {
  //     color: transparent;
  //     span {
  //       font-size: 2em;
  //       font-weight: 600;
  //       text-transform: uppercase;
  //     }
  //   }
  // }
}
