.wrapper-logo {
  .wrapper-site-title {
    background-image: url(../../images/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
    width: 100%;
    a {
      color: transparent;
      span {
        font-size: 2em;
        font-weight: 600;
      }
    }
  }
}

.dark-theme {
  .wrapper-logo {
    .wrapper-site-title {
      background-size: 200%;
    }
  }
}
