@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#aside-categories-related:popover-closed {
  animation: slide-out 0.5s ease;
  opacity: 0;
  transform: translateX(100%);
}

.wrapper-module[popover] {
  position: fixed;
  inset: calc(var(--header-height) * 2) 0 0 auto;
  margin: 0;
  animation: slide-in 0.5s ease;
  opacity: 1;
  transform: translateX(0);
  padding: var(--spacer);
  border: none;
}

aside {
  @media (width >= 992px) {
    display: block;
    position: relative;
    height: 100%;
    width: fit-content;
    max-width: calc(25vw - (var(--spacer) * 2));
    margin-inline: auto;

    .wrapper-all-modules {
      margin-top: calc(var(--header-height) * 2);
      height: fit-content;
    }
  }
}

.wrapper-command-mobile {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);
  @media (width >= 992px) {
    display: none;
  }
}

.button-mobile-close-module.btn {
  display: flex;
  @media (width >= 992px) {
    display: none;
  }
}

.wrapper-module {
  padding: calc(var(--spacer) * 2);
  .wrapper-popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacer);
  }
  .button-mobile-close-module {
    padding: 0;
    margin-inline-start: auto;
    svg {
      width: calc(var(--spacer) * 2);
      height: calc(var(--spacer) * 2);
      transition: all 0.3s ease;
    }
  }
}
