#open-search-modal {
  display: flex;
  align-items: end;
  gap: var(--spacer);
  outline: none;
  padding: 0.5em;
  border-radius: var(--border-radius);
  &:hover {
    cursor: pointer;
  }
  &:focus-visible {
    border-radius: var(--border-radius);
  }
  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

#search-results-popover {
  height: 100%;
  overflow-y: auto;
  margin-block-start: calc(var(--header-height) * 2);
  padding: 1em;
  border-radius: 0.5em;
  @media (width >= 768px) {
    width: 75vw;
  }
  @media (width >= 992px) {
    width: 55vw;
  }
  &::backdrop {
    opacity: 0.8;
  }
}

.wrapper-search-results {
  #search-results {
    margin-inline-start: 1em;
  }
}

.input-search {
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1.5rem;
}
