body.home {
  background: var(--background-color);
  main {
    margin-top: 0;
  }
}

body.home.light-theme {
  .intro-text p {
    background-color: var(--background-color);
  }
}

.svg-icon {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0.2em;
  vertical-align: bottom;
  border-radius: 50%;
}
.svg-wordpress {
  background-image: url("../../images/wordpress.svg");
  background-color: #0572aa;
  border: 1px solid #0572aa;
}
.svg-google {
  background-image: url("../../images/google.svg");
}
.svg-idea {
  background-image: url("../../images/idea.svg");
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
}

.front-page-intro {
  margin-top: calc(var(--header-height) * 1);
  transition: all 1s;
  background-size: 100px 100px;
  background-image: url("../../images/bg-grid.png");
  background-position-y: -9px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  .intro {
    padding-block: calc(var(--header-height) * 2);
    width: var(--container-width);
    margin-inline: auto;
  }
  .intro-text {
    padding: calc(var(--spacer) * 4);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    align-items: start;
    color: var(--accent-color);
  }

  .main-title {
    box-shadow: 0 5px 5px var(--accent-color-2), 0 5px 5px var(--accent-color-3),
      0 5px 5px var(--accent-color-4), 0 5px 5px var(--accent-color-5);
    border-radius: 1em;
    position: relative;
    color: var(--accent-color);
    margin-inline: auto;
    line-height: 1;
    padding: var(--spacer);
    background: linear-gradient(
      to right,
      var(--accent-color-2),
      var(--accent-color-3),
      var(--accent-color-4),
      var(--accent-color-5)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
    display: flex;
    justify-content: center;
    width: 450px;
    h1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: 3.5em;
      font-weight: 700;
      padding: 0.2em;
      color: transparent;
      font-family: var(--tertiary-font);
      margin: auto;
      span {
        padding: 0.2em;
        border-radius: 0.5em;
        width: fit-content;
        color: transparent;
      }
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    position: relative;
  }
}

.layout-tree {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: calc(var(--spacer) * 2);
  margin-bottom: var(--header-height);
  .card {
    opacity: 0;
    scale: 0.5;
    background-color: var(--background-color);
    padding: calc(var(--spacer) * 2);
    border-radius: 0.5em;
    box-shadow: 0 0 10px 0 var(--accent-color);
    border-left-width: 5px;
    border-left-style: solid;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--header-height) * 4);
    transition: all 0.2s;
    ul {
      white-space: nowrap;
      list-style: "X";
      li {
        &::marker {
          width: 1em;
          height: 1em;
          transform: rotate(45deg);
          color: var(--accent-color-3);
          display: block;
          font-size: 1rem;
          padding-right: 0.5em;
        }
      }
    }
    p,
    li {
      font-size: 1.3em;
      font-weight: 600;
      width: 100%;
    }
    p {
      text-align: center;
    }
    &:hover {
      margin-top: calc(var(--spacer) * -0.5);
      transition: all 0.2s;
    }
  }

  .card.animate {
    opacity: 1;
    transition: all 0.2s;
    scale: 1;
  }
}

.title-big {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: calc(var(--spacer) * 2);
  h2 {
    font-size: 3.5em;
    font-weight: 700;
    color: var(--accent-color);
  }
}

.sticky-container {
  position: relative;
  display: grid;
  width: var(--container-width);
  margin-inline: auto;
  .sticky-item {
    min-height: 20em;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position: sticky;
    top: calc(6vh + 5rem);
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: calc(var(--spacer) * 2);
    border-radius: 0.5em;
    box-shadow: 0 0 10px 0 var(--accent-color);
    border-left-width: 5px;
    border-left-style: solid;
    .sticky-item-image {
      grid-column: span 5 / span 5;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .sticky-item-content {
      grid-column: span 7 / span 7;
    }
  }
}

.sticky-item-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  .main-title {
    box-shadow: 0 5px 5px var(--accent-color-2), 0 5px 5px var(--accent-color-3),
      0 5px 5px var(--accent-color-4), 0 5px 5px var(--accent-color-5);
    border-radius: 1em;
    position: relative;
    color: var(--accent-color);
    margin-inline-end: auto;
    line-height: 1;
    padding: var(--spacer);
    background: linear-gradient(
      to right,
      var(--accent-color-2),
      var(--accent-color-3),
      var(--accent-color-4),
      var(--accent-color-5)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-block-end: var(--spacer);
    span {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: 2.5em;
      font-weight: 700;
      color: transparent;
      font-family: var(--tertiary-font);
      margin: auto;
    }
  }
  h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--accent-color);
  }
}

.layout-card-preview-2-cols {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: var(--header-height);
  max-width: 1100px;
  margin-inline: auto;
}

.layout-card-preview {
  --transition-duration: 0.6s;
  --layout-width: 1400px;
  --card-preview-width: calc(var(--layout-width) / 7);
  --card-preview-height: 351px;
  display: grid;
  grid-template-columns: repeat(3, minmax(var(--card-preview-width), 1fr));
  margin-bottom: var(--header-height);
  max-width: var(--layout-width);
  margin-inline: auto;
  .card-preview-center {
    grid-column: span 3 / span 3;
  }
  .card-preview {
    color: var(--accent-color);
    margin-inline: auto;
    transition: all var(--transition-duration);
    margin-block-end: var(--header-height);
    &:hover {
      cursor: pointer;
      .post-preview {
        .post-preview__image {
          background-color: transparent;
          box-shadow: none;
        }

        .post-preview__content {
          padding-inline: var(--spacer-big);
          max-height: fit-content;
          margin-left: 1em;
          transition: margin-left var(--transition-duration) ease-in-out,
            z-index var(--transition-duration) step-end,
            max-width var(--transition-duration) ease-in-out;
          z-index: 1;
          max-width: calc(var(--card-preview-width) + (var(--spacer-big) * 5));

          .post-preview__link {
            .content {
              opacity: 1;
              & div {
                animation: text-gradient-in calc(var(--transition-duration) * 2)
                  linear var(--transition-duration) forwards;
                font-size: 1.8rem;
                line-height: 1.8rem;
                font-weight: 300;
                font-style: italic;
              }
            }
            h3 {
              opacity: 1;
              transition: opacity calc(var(--transition-duration) / 2)
                ease-in-out calc(var(--transition-duration) / 2);
            }
          }
        }
      }
    }
    .post-preview {
      display: flex;
      justify-content: space-between;
      height: var(--card-preview-height);
      .post-preview__image {
        max-width: var(--card-preview-width);
        img {
          object-fit: cover;
          padding: var(--spacer-small);
          transition: object-fit var(--transition-duration) step-end;
          height: var(--card-preview-height);
          width: var(--card-preview-width);
        }
      }
      .post-preview__content {
        max-width: var(--card-preview-width);
        background-color: var(--accent-color);
        border-radius: 0.5em;
        padding: var(--spacer);
        margin-left: calc(var(--card-preview-width) * -1);
        position: relative;
        z-index: -2;
        transition: margin-left var(--transition-duration) ease-in-out,
          z-index var(--transition-duration) step-start,
          max-width var(--transition-duration) ease-in-out;

        .post-preview__link {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: var(--spacer);

          h3 {
            font-size: 1.5em;
            font-weight: 600;
            color: var(--contrast-color);
            text-align: center;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            opacity: 0;
            transition: opacity calc(var(--transition-duration) / 2) ease-in-out;
          }

          .content {
            color: var(--contrast-color);
            text-align: center;
            overflow: hidden;
            opacity: 0;
            transition: opacity calc(var(--transition-duration) / 2) ease-in-out;
            & div {
              display: inline;
              color: hsl(0 0% 100% / 0);
              text-align: center;
              overflow: hidden;
              background-clip: text;
              background-repeat: no-repeat;
              background-size: 0% 100%;
              background-image: linear-gradient(
                90deg,
                var(--accent-color-2),
                var(--accent-color-2)
              );
            }
          }
        }
      }
    }
  }
}

/* Nouveau conteneur spécifique pour les cartes 2 par ligne */
.layout-card-preview-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--header-height);

  .card-preview {
    grid-column: span 1;
  }
}

@keyframes text-gradient-in {
  to {
    background-size: 100% 100%;
  }
}
