body.home {
  background: var(--background-color);
  main {
    margin-top: 0;
  }
}

body.home.light-theme {
  .intro-text p {
    background-color: var(--background-color);
  }
}

.svg-icon {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 0.2em;
  vertical-align: bottom;
  border-radius: 50%;
}
.svg-wordpress {
  background-image: url("../../images/wordpress.svg");
  background-color: #0572aa;
  border: 1px solid #0572aa;
}
.svg-google {
  background-image: url("../../images/google.svg");
}
.svg-idea {
  background-image: url("../../images/idea.svg");
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
}

.front-page-intro {
  margin-top: calc(var(--header-height) * 1);
  transition: all 1s;
  background-size: 100px 100px;
  background-image: url("../../images/bg-grid.png");
  background-position-y: -9px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  .intro {
    padding-block: calc(var(--header-height) * 2);
    width: var(--container-width);
    margin-inline: auto;
  }
  .intro-text {
    padding: calc(var(--spacer) * 4);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    align-items: start;
    color: var(--accent-color);
  }

  .main-title {
    box-shadow: 0 5px 5px var(--accent-color-2), 0 5px 5px var(--accent-color-3),
      0 5px 5px var(--accent-color-4), 0 5px 5px var(--accent-color-5);
    border-radius: 1em;
    position: relative;
    color: var(--accent-color);
    margin-inline: auto;
    line-height: 1;
    padding: var(--spacer);
    background: linear-gradient(
      to right,
      var(--accent-color-2),
      var(--accent-color-3),
      var(--accent-color-4),
      var(--accent-color-5)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
    display: flex;
    justify-content: center;
    width: 450px;
    h1 {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: 3.5em;
      font-weight: 700;
      padding: 0.2em;
      color: transparent;
      font-family: var(--tertiary-font);
      margin: auto;
      span {
        padding: 0.2em;
        border-radius: 0.5em;
        width: fit-content;
        color: transparent;
      }
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    position: relative;
  }
}

.layout-tree {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: calc(var(--spacer) * 2);
  .card {
    opacity: 0;
    scale: 0.5;
    background-color: var(--background-color);
    padding: calc(var(--spacer) * 2);
    border-radius: 0.5em;
    box-shadow: 0 0 10px 0 var(--accent-color);
    border-left-width: 5px;
    border-left-style: solid;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--header-height) * 4);
    transition: all 0.2s;
    ul {
      white-space: nowrap;
      list-style: "X";
      li {
        &::marker {
          width: 1em;
          height: 1em;
          transform: rotate(45deg);
          color: var(--accent-color-3);
          display: block;
          font-size: 1rem;
          padding-right: 0.5em;
        }
      }
    }
    p,
    li {
      font-size: 1.3em;
      font-weight: 600;
      width: 100%;
    }
    p {
      text-align: center;
    }
    &:hover {
      margin-top: calc(var(--spacer) * -0.5);
      transition: all 0.2s;
    }
  }

  .card.animate {
    opacity: 1;
    transition: all 0.2s;
    scale: 1;
  }
}

.title-big {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: calc(var(--spacer) * 2);
  h2 {
    font-size: 3.5em;
    font-weight: 700;
    color: var(--accent-color);
  }
}

.sticky-container {
  position: relative;
  display: grid;
  width: var(--container-width);
  margin-inline: auto;
  .sticky-item {
    min-height: 20em;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    position: sticky;
    top: calc(6vh + 5rem);
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: calc(var(--spacer) * 2);
    border-radius: 0.5em;
    box-shadow: 0 0 10px 0 var(--accent-color);
    border-left-width: 5px;
    border-left-style: solid;
    .sticky-item-image {
      grid-column: span 5 / span 5;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .sticky-item-content {
      grid-column: span 7 / span 7;
    }
  }
}

.sticky-item-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  .main-title {
    box-shadow: 0 5px 5px var(--accent-color-2), 0 5px 5px var(--accent-color-3),
      0 5px 5px var(--accent-color-4), 0 5px 5px var(--accent-color-5);
    border-radius: 1em;
    position: relative;
    color: var(--accent-color);
    margin-inline-end: auto;
    line-height: 1;
    padding: var(--spacer);
    background: linear-gradient(
      to right,
      var(--accent-color-2),
      var(--accent-color-3),
      var(--accent-color-4),
      var(--accent-color-5)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-block-end: var(--spacer);
    span {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: 2.5em;
      font-weight: 700;
      color: transparent;
      font-family: var(--tertiary-font);
      margin: auto;
    }
  }
  h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--accent-color);
  }
}
