/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.nav-previous a,
.nav-next a{
  color: var(--default-color) !important;
}
.nav-next .btn-primary{
  background-position: -100% center !important;
  text-align: end;
  &:hover {
    background-position: 0% center !important;
  }
}