@use "../variables" as *;
@use "../components/atoms/links" as *;
@use "../typography" as *;

#breadcrumbs {
  ul {
    display: flex;
    align-items: center;
    gap: $spacer-lg;
    li {
      margin-block-end: $spacer-lg;
      a {
        font-family: $heading-font;
        font-size: $font-size-xs;
        line-height: 1.5;
        color: $link-color;
        font-weight: $font-weight-400;
        @include link-underline;
      }
    }
  }
}

.post-date {
  display: flex;
  align-items: center;
}
.post-full {
  img {
    width: 100%;
    height: auto;
  }
}

.content {
  img {
    width: 100%;
    height: auto;
  }
}
